body {
  height: 100vh;
  margin: 0;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.introductory-section,
footer {
  flex: flex 2;
  width: 100%;
}
.section-2,
.section-3,
.section-4 {
  flex: flex 1;
  width: 100%;
}
.navigation-logo {
  width: 130px;
  height: 25px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
  margin-inline: 18px;
}
.try-it-free-nav {
  padding-inline: 5%;
  padding-block: 2%;
  border-radius: 50px;
  border: none;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 50%);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.content {
  display: flex;
  flex-direction: column;
  padding-inline: 6%;
}
.introductory-section {
  margin-block-end: 16%;
  padding-block-end: 6%;
  background-image: url("./images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-color: #eaf8fd;
}
.screen-mockups {
  width: 90%;
  margin: auto;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.desc {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.heading,
.desc {
  text-align: center;
}
.desc {
  margin: 0;
}
.get-started-for-free {
  margin: auto;
  margin-block-start: 8%;
  margin-block-end: 12%;
  padding-block: 4%;
  padding-inline: 12%;
  border-radius: 50px;
  border: none;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 2px 2px 6px rgba(242, 148, 184, 0.5);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.section-2,
.section-3,
.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 {
  margin-block-end: 5%;
}
.section-3 {
  margin-block: 5%;
}
.section-4 {
  margin-block-start: 5%;
}
.section-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(237, 232, 232);
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(181, 179, 179, 0.5);
  padding-block: 12%;
}
.grow-together-illustration,
.flowing-conversations-illustration,
.your-users-illlustration {
  width: 80%;
  margin: auto;
}
.grow-together,
.flowing-conversations,
.your-users {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.text {
  text-align: center;
}
.grow-together-desc,
.flowing-conversations-desc,
.your-users-desc {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.section-4 {
  padding-block-end: 50%;
}
.question-block {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-block: 7%;
  background-color: white;
  color: black;
  margin: auto;
  width: 80%;
  position: absolute;
  top: -12%;
  left: 5%;
  border-radius: 15px;
  box-shadow: 0 -3px 5px rgba(181, 179, 179, 0.5);
}
.question {
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}
footer .get-started-for-free {
  margin-block-end: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
footer {
  color: white;
  background-color: hsl(192, 100%, 9%);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4%;
}
.footer-content {
  padding-block-start: 28%;
  padding-inline: 5%;
}
.footer-logo {
  width: 130px;
  height: 25px;
}
.location,
.phone,
.email {
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  align-items: flex-start;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.icon {
  color: white;
}
footer .socials {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-block-start: 20%;
  margin-block-end: 5%;
  padding-inline: 0;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
p.copyright {
  margin-block-start: 0;
}
.icons {
  display: flex;
  gap: 10px;
}
.background {
  width: 27px;
  height: 27px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
@media only screen and (min-width: 1240px) {
  .introductory-section {
    background-image: url("./images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block-start: 5%;
    gap: 4%;
  }
  .heading-para {
    display: flex;
    flex-direction: column;
  }
  .get-started-for-free {
    display: inline;
  }
  .heading-para > .heading,
  .heading-para .desc {
    text-align: left;
  }
  .screen-mockups {
    width: 60%;
  }
  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 3%;
    margin-inline: 3%;
  }
  .try-it-free-nav {
    padding-inline: 4%;
    padding-block: 1%;
  }
  .section-2 > .section-content,
  .section-4 > .section-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-block-start: 5%;
    gap: 4%;
    padding-inline: 3%;
  }
  .grow-together-illustration,
  .your-users-illustration,
  .flowing-conversations-illustration {
    width: 60%;
  }
  .text {
    text-align: left;
  }
  .section-3 > .section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block-start: 5%;
    gap: 4%;
    padding-inline: 3%;
  }
  .section-4 {
    padding-block-end: 20%;
  }
  .question-block {
    padding-inline: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 5%;
    background-color: white;
    color: black;
    margin: auto;
    width: 50%;
    position: absolute;
    top: -20%;
    left: 22%;
    border-radius: 15px;
    box-shadow: 0 -3px 5px rgba(181, 179, 179, 0.5);
  }
  .question {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 22px;
  }
}
